test_pypi/dist/*
test_pypi/pypi_env/*
test_pypi/prediction_model/trained_models/class/class_pipeline.joblib
test_pypi/prediction_model/trained_models/section/section_pipeline.joblib

mlflow/datasets/Test_word_embeddings.faiss
mlflow/datasets/Train_word_embeddings.faiss
mlflow/mlruns/*
mlflow/mlflow_env/*

streamlit_app/server/prediction_model/trained_models/section/section_pipeline.joblib
streamlit_app/server/prediction_model/trained_models/class/class_pipeline.joblib
streamlit_app/app_env/*
streamlit_app/server_env/*
streamlit_app/app/.env

roget-mlops.pem