include setup.py
include requirements.txt
include README.md
include prediction_model/VERSION

# Include all CSV files in the datasets directory
recursive-include prediction_model/datasets *.csv

# Include all Python source files
recursive-include prediction_model *.py

# Include the shell script for running the project
include prediction_model/run_scripts.sh







# Exclude the model joblib files in trained_models to reduce the package size
recursive-exclude prediction_model/trained_models *.joblib

# Exclude the virtual environment directory and build artifacts
prune myenv
prune dist
prune *.egg-info
prune test

# Exclude cache files and unnecessary directories
global-exclude __pycache__/*
global-exclude *.pyc
global-exclude *.pyo
global-exclude .pytest_cache/*
global-exclude prediction_model/__pycache__/*
global-exclude prediction_model/config/__pycache__/*
global-exclude prediction_model/processing/__pycache__/*